<a href="https://colab.research.google.com/github/Rojashree555/Task1/blob/main/Copy_of_KNN_Assignment13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
#from sklearn import datasets, neighbors
from sklearn.linear_model import LogisticRegression
from mlxtend.plotting import plot_decision_regions # used to plot the decision boundary of ml algorithms
from sklearn.model_selection import cross_val_score # import all the functions reqd for cross validation
from sklearn.model_selection import train_test_split

**Importing the dataset**

In [ ]:
data1 = pd.read_csv('/content/Social_Network_Ads.csv')

In [ ]:
data1

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
data1.shape

(400, 5)

In [ ]:
data1.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [ ]:
df=data1.drop(["User ID"],axis=1)

In [ ]:
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [ ]:
df = pd.get_dummies(df,columns=['Gender'])

In [ ]:
df

     Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0     19            19000          0              0            1
1     35            20000          0              0            1
2     26            43000          0              1            0
3     27            57000          0              1            0
4     19            76000          0              0            1
..   ...              ...        ...            ...          ...
395   46            41000          1              1            0
396   51            23000          1              0            1
397   50            20000          1              1            0
398   36            33000          0              0            1
399   49            36000          1              1            0

[400 rows x 5 columns]

In [ ]:
df.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
Gender_Female      0
Gender_Male        0
dtype: int64

**Splitting the dataset into the Training set and Test set**

In [ ]:
X = df[['Age','EstimatedSalary','Gender_Female','Gender_Male']].values
y = df['Purchased'].values
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3)

**Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
X_test

array([[-1.79360273,  0.3867217 , -1.02166316,  1.02166316],
       [-0.25101486,  0.10318654, -1.02166316,  1.02166316],
       [ 0.03822037, -0.29376267, -1.02166316,  1.02166316],
       [-1.11872054, -0.54894431,  0.97879618, -0.97879618],
       [ 1.00233779, -1.03095407,  0.97879618, -0.97879618],
       [ 0.90592605,  1.01049904,  0.97879618, -0.97879618],
       [ 0.80951431,  0.69861037,  0.97879618, -0.97879618],
       [-1.21513228, -1.0876611 , -1.02166316,  1.02166316],
       [-0.63666183, -0.09528806,  0.97879618, -0.97879618],
       [-0.05819137, -0.52059079, -1.02166316,  1.02166316],
       [ 1.38798476,  0.52848927,  0.97879618, -0.97879618],
       [ 0.80951431,  0.2166006 , -1.02166316,  1.02166316],
       [ 0.23104385, -0.18034861, -1.02166316,  1.02166316],
       [-1.02230879,  0.47178224, -1.02166316,  1.02166316],
       [-1.31154402,  0.50013576,  0.97879618, -0.97879618],
       [ 1.96645521, -0.69071189,  0.97879618, -0.97879618],
       [ 0.23104385,  2.00287207,  0.97879618, -0.97879618],
       [ 0.90592605, -0.69071189,  0.97879618, -0.97879618],
       [-0.25101486, -0.69071189,  0.97879618, -0.97879618],
       [-0.05819137,  0.18824709,  0.97879618, -0.97879618],
       [-0.54025008,  0.41507521,  0.97879618, -0.97879618],
       [ 1.09874953,  0.07483303, -1.02166316,  1.02166316],
       [-0.63666183,  0.13154006, -1.02166316,  1.02166316],
       [-0.05819137, -0.01022752,  0.97879618, -0.97879618],
       [-0.05819137,  0.018126  , -1.02166316,  1.02166316],
       [-0.82948531, -1.22942868,  0.97879618, -0.97879618],
       [ 0.03822037, -0.46388376,  0.97879618, -0.97879618],
       [ 1.96645521, -1.37119626,  0.97879618, -0.97879618],
       [ 0.3274556 ,  0.44342873, -1.02166316,  1.02166316],
       [ 0.23104385, -0.29376267, -1.02166316,  1.02166316],
       [-0.63666183, -1.05930759,  0.97879618, -0.97879618],
       [-0.05819137, -1.0876611 ,  0.97879618, -0.97879618],
       [ 0.90592605, -1.37119626, -1.02166316,  1.02166316],
       [-0.15460312, -0.32211619, -1.02166316,  1.02166316],
       [-0.54025008,  0.81202443, -1.02166316,  1.02166316],
       [ 1.19516127, -0.77577243,  0.97879618, -0.97879618],
       [ 0.42386734,  1.03885255,  0.97879618, -0.97879618],
       [ 0.03822037, -0.60565134,  0.97879618, -0.97879618],
       [-0.73307357,  0.24495412, -1.02166316,  1.02166316],
       [-0.92589705,  0.44342873,  0.97879618, -0.97879618],
       [-1.89001447, -0.54894431, -1.02166316,  1.02166316],
       [-1.5043675 ,  0.27330764, -1.02166316,  1.02166316],
       [-0.54025008,  1.80439747,  0.97879618, -0.97879618],
       [ 0.3274556 ,  0.2166006 , -1.02166316,  1.02166316],
       [ 1.38798476, -1.42790329,  0.97879618, -0.97879618],
       [-0.44383834, -1.22942868,  0.97879618, -0.97879618],
       [ 2.06286695,  0.33001467,  0.97879618, -0.97879618],
       [ 0.3274556 ,  0.018126  , -1.02166316,  1.02166316],
       [ 1.00233779,  0.07483303, -1.02166316,  1.02166316],
       [-0.73307357,  1.80439747, -1.02166316,  1.02166316],
       [-1.02230879, -1.14436813,  0.97879618, -0.97879618],
       [ 1.09874953, -0.91754001,  0.97879618, -0.97879618],
       [ 0.80951431,  0.47178224, -1.02166316,  1.02166316],
       [ 1.67721999,  1.66262989,  0.97879618, -0.97879618],
       [ 0.71310256,  0.2166006 , -1.02166316,  1.02166316],
       [ 0.80951431,  1.29403419, -1.02166316,  1.02166316],
       [-1.11872054,  0.35836818,  0.97879618, -0.97879618],
       [-1.11872054,  1.3223877 ,  0.97879618, -0.97879618],
       [-1.11872054, -1.56967086, -1.02166316,  1.02166316],
       [-1.5043675 , -0.46388376,  0.97879618, -0.97879618],
       [-1.02230879, -0.40717673,  0.97879618, -0.97879618],
       [ 0.42386734, -0.20870213, -1.02166316,  1.02166316],
       [-0.25101486, -1.37119626,  0.97879618, -0.97879618],
       [-0.25101486,  0.018126  , -1.02166316,  1.02166316],
       [ 1.87004347,  0.07483303, -1.02166316,  1.02166316],
       [-0.25101486, -0.3504697 , -1.02166316,  1.02166316],
       [ 0.03822037, -0.60565134,  0.97879618, -0.97879618],
       [-1.02230879, -1.54131735,  0.97879618, -0.97879618],
       [-1.89001447, -0.09528806,  0.97879618, -0.97879618],
       [ 1.96645521,  0.84037794,  0.97879618, -0.97879618],
       [ 0.13463211,  1.77604395, -1.02166316,  1.02166316],
       [ 0.13463211, -0.29376267,  0.97879618, -0.97879618],
       [-1.11872054,  0.41507521, -1.02166316,  1.02166316],
       [ 0.3274556 , -0.3504697 , -1.02166316,  1.02166316],
       [ 2.1592787 ,  0.33001467, -1.02166316,  1.02166316],
       [ 0.03822037,  1.18062013,  0.97879618, -0.97879618],
       [-1.79360273, -1.48461032, -1.02166316,  1.02166316],
       [-1.79360273,  0.13154006, -1.02166316,  1.02166316],
       [-0.25101486, -0.37882322, -1.02166316,  1.02166316],
       [ 1.4843965 ,  0.018126  , -1.02166316,  1.02166316],
       [-0.25101486, -0.60565134,  0.97879618, -0.97879618],
       [ 1.19516127,  0.47178224,  0.97879618, -0.97879618],
       [ 0.90592605, -1.17272165,  0.97879618, -0.97879618],
       [ 0.80951431, -1.11601462,  0.97879618, -0.97879618],
       [ 2.1592787 ,  0.86873146, -1.02166316,  1.02166316],
       [-1.89001447,  0.41507521,  0.97879618, -0.97879618],
       [ 1.38798476,  1.20897364,  0.97879618, -0.97879618],
       [-0.63666183, -0.37882322, -1.02166316,  1.02166316],
       [-0.3474266 , -0.80412595, -1.02166316,  1.02166316],
       [ 2.06286695, -0.83247946,  0.97879618, -0.97879618],
       [-1.02230879, -0.37882322,  0.97879618, -0.97879618],
       [-1.89001447,  0.30166115, -1.02166316,  1.02166316],
       [-1.5043675 , -1.51296383, -1.02166316,  1.02166316],
       [ 1.00233779,  1.97451856, -1.02166316,  1.02166316],
       [-0.25101486, -1.4562568 , -1.02166316,  1.02166316],
       [-0.05819137, -0.03858103, -1.02166316,  1.02166316],
       [ 0.23104385,  0.18824709, -1.02166316,  1.02166316],
       [-0.54025008,  1.29403419,  0.97879618, -0.97879618],
       [ 1.38798476, -0.94589353,  0.97879618, -0.97879618],
       [-1.11872054, -1.03095407,  0.97879618, -0.97879618],
       [ 1.09874953, -1.22942868, -1.02166316,  1.02166316],
       [-0.44383834, -0.86083298,  0.97879618, -0.97879618],
       [ 0.42386734, -0.03858103,  0.97879618, -0.97879618],
       [-0.63666183, -1.59802438,  0.97879618, -0.97879618],
       [ 2.06286695,  0.13154006,  0.97879618, -0.97879618],
       [-1.02230879, -0.37882322, -1.02166316,  1.02166316],
       [-0.25101486, -1.31448923,  0.97879618, -0.97879618],
       [ 1.00233779, -0.86083298, -1.02166316,  1.02166316],
       [-0.73307357, -0.63400486, -1.02166316,  1.02166316],
       [ 0.71310256, -1.28613571, -1.02166316,  1.02166316],
       [-1.11872054, -1.59802438, -1.02166316,  1.02166316],
       [ 0.90592605,  0.953792  , -1.02166316,  1.02166316],
       [ 0.3274556 , -0.54894431, -1.02166316,  1.02166316],
       [ 0.23104385, -0.40717673, -1.02166316,  1.02166316],
       [-0.15460312,  1.3223877 , -1.02166316,  1.02166316],
       [-0.44383834, -0.06693455,  0.97879618, -0.97879618],
       [-0.73307357, -0.26540916,  0.97879618, -0.97879618],
       [-0.3474266 , -1.31448923,  0.97879618, -0.97879618],
       [-0.05819137, -0.40717673,  0.97879618, -0.97879618],
       [-0.25101486,  0.04647951, -1.02166316,  1.02166316]])

**Fitting K-NN to the Training set**

In [ ]:
for i in [1,2,3,4,5,6,7,8,9,10,20,50]:
  knn = KNeighborsClassifier(i) #initialising the model
  knn.fit(X_train,y_train) # training the model

  print("K value  : " , i, " train score : ", knn.score(X_train,y_train) , " score : ", np.mean(cross_val_score(knn, X_train, y_train, cv=10))) #predicting using the model

K value  :  1  train score :  1.0  score :  0.9
K value  :  2  train score :  0.9464285714285714  score :  0.8928571428571427
K value  :  3  train score :  0.95  score :  0.925
K value  :  4  train score :  0.9428571428571428  score :  0.9107142857142858
K value  :  5  train score :  0.9285714285714286  score :  0.9142857142857144
K value  :  6  train score :  0.9321428571428572  score :  0.9142857142857143
K value  :  7  train score :  0.9321428571428572  score :  0.9214285714285714
K value  :  8  train score :  0.925  score :  0.9214285714285715
K value  :  9  train score :  0.925  score :  0.9142857142857143
K value  :  10  train score :  0.9285714285714286  score :  0.9107142857142858
K value  :  20  train score :  0.9142857142857143  score :  0.8642857142857142
K value  :  50  train score :  0.7785714285714286  score :  0.7535714285714287

**Predicting the Test set results**

In [ ]:
knn = KNeighborsClassifier(7)
knn.fit(X_train,y_train)
knn.score(X_test,y_test)

0.6166666666666667